{% extends "base.html" %}

{% block page %}
    <!-- #columns: holds the columns of the page -->
    <div id="columns" class="widthPad">


    <!-- Single column -->
    <div class="floatLeft width100">




  

      <h1>{{offer.title}}</h1>

      <p>
       	{{offer.description}}
	  </p>

    
     


    

	  



	  <blockquote>
	  <p>
	    In nunc justo, mollis sed, gravida at, aliquam sit amet, urna. Nulla commodo. <a href="">In pharetra justo eget</a> turpis. Sed posuere turpis ac sapien.
	  </p>
	  </blockquote>

      <p>
	    Nulla commodo. In nunc justo, mollis sed, gravida at, aliquam sit amet, urna. Nulla commodo. In pharetra justo eget turpis. Nulla commodo. In pharetra justo eget turpis.  In nunc justo, mollis sed, gravida at, <a href="">aliquam sit</a> amet, urna.
	  </p>

    </div>
    <!-- Single column end -->


    </div>
    <!-- #columns end -->
 {% endblock %}
  